<h3> <%= link_to 'States', 'states#index' %> </h3>
<h3> <%= link_to 'Cities', 'cities#index' %> </h3>

h1> @city.name </h1>
        <p>Capitol? <%= @city.capitol %></p>
        <p>Population:  <%= @city.population %></p>
